<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="SamcoStar suite">
  <test name="SamcoStar test">
    <classes>
         <class name="samcostar.samcostar.HomePageTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->